<script type="text/javascript" src="js/scripts.js"></script>
<body>
<ion-view title="Remote Control" hide-nav-bar="true" id="page2" style="background-color:#69865E;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="remoteControl-form1" class="list">
      <ion-toggle toggle-class="toggle-light" id="remoteControl-toggle1" name="connect"> Connect</ion-toggle>
    </form>
    <div class="spacer" style="width: 300px; height: 92px;"></div>
    <div id="remoteControl-container1">
      <div id="UpButtonsContainer">
        <button id="ButtonUpLeft" class="button button-dark">ArrIzq</button>
        <button id="ButtonUp" class="button button-dark">Arriba</button>
        <button id="ButtonUpRight" class="button button-dark">ArrDer</button>
      </div>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <div id="StopButtonContainer">
        <button id="Left" class="button button-dark">Left</button>
        <button id="Stop" class="button button-dark">Stop</button>
        <button id="Right" class="button button-dark">Right</button>
      </div>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <div id="DownButtonsContainer">
        <button id="ButtonDownLeft" class="button button-dark">ABIzq</button>
        <button id="ButtonDown" class="button button-dark">Abajo</button>
        <button id="ButtonDownRight" class="button button-dark">ABDer</button>
      </div>
    </div>
  </ion-content>
</body>
</ion-view>
