<ion-view title="Remote Control" hide-nav-bar="true" id="page2" style="background-color:#69865E;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="remoteControl-form1" class="list">
      <ion-toggle toggle-class="toggle-light" id="remoteControl-toggle1" name="connect"> Connect</ion-toggle>
    </form>
    <div class="spacer" style="width: 300px; height: 92px;"></div>
    <div id="remoteControl-container1">
      <div id="remoteControl-container2">
        <button id="remoteControl-button6" class="button button-dark">Tap me!</button>
        <button id="remoteControl-button5" class="button button-dark">Tap me!</button>
        <button id="remoteControl-button4" class="button button-dark">Tap me!</button>
      </div>
      <div class="spacer" style="width: 300px; height: 36px;"></div>
      <div id="remoteControl-container3">
        <button id="remoteControl-button2" class="button button-dark">Tap me!</button>
        <button id="remoteControl-button1" class="button button-dark">Tap me!</button>
        <button id="remoteControl-button3" class="button button-dark">Tap me!</button>
      </div>
    </div>
  </ion-content>
</ion-view>