/* Empty. Add your own CSS if you like */

button#Left{
  position: absolute;
  left: 10px;
}
button#Right{
  position: absolute;
  right: 15px;
}

div#UpButtonsContainer{
  text-align : center;
}
div#DownButtonsContainer{
  text-align: center;
}
div#StopButtonContainer{
  text-align: center;
}

/* Estilo UpButtonsContainer */

button#ButtonUpRight {
  border-radius:0px 50px 0px 0px
}
button#ButtonUpLeft{
  border-radius: 50px 0px 0px 0px;

}
button#ButtonUp{
  border-radius:0px 0px 0px 0px;
}
/* fin estilo UpButtonsContainer */

/* Estilo downButtonsContainer */

button#ButtonDownRight {
  border-radius: 0px 0px 50px 0px;
}
button#ButtonDownLeft{
  border-radius:0px 0px 0px 50px
}
button#ButtonDown{
  border-radius:0px 0px 0px 0px;
}

/* fin Estilo downButtonsContainer */
